*{
    margin:0 auto;
    padding:0;
}
article{
    background-color: blue;
    width: 50%;
    padding: 20px;
}
article{
    color: yellow;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
padding: 5px 0;
span{
    background-color: green;
}
}